[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=dheerajchand
Group=www-data
WorkingDirectory={{ django_dir }}
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:{{ socket_dir }}/{{ project_name }}.sock {{ project_name }}.wsgi:application --error-logfile {{ gunicorn_log_location }}
