upstream {{ project_name }} {
  server unix:{{socket_dir}}/{{ project_name }}.sock;
}

server {
    listen 80;
    server_name {{ server_name }}; 

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{ django_dir }};
    }

    location / {
        include proxy_params;
        proxy_redirect off;
        proxy_pass http://{{ project_name }};
    }
}
